@import 'app/styling/main.scss';

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .navbar-top-root {
    width: 100%;
    height: 40%;
    @include flex-center;

    .navbar-top-root-inner-wrapper {
      width: 85%;
      height: 100%;
      @include flex-center;

      .navbar-top-reg-wrapper {
        height: 95%;
        width: 33.33%;
        @include flex-center;
        flex-direction: row;

        .logo-wrapper {
          height: 100%;
          width: 20%;

        }

        .navbar-social-media-wrapper {
          width: 100%;
          height: 100%;
          @include flex;
          align-items: center;
          justify-content: flex-start;

          .social-media-inner-wrapper {
            width: 8%;
            height: 75%;
            @include flex-center;
          }
        }

        .logo-name-wrapper {
          height: 100%;
          width: 60%;
          color: white;
          @include flex-vertical-center;
          text-transform: uppercase;
          font-size: 2.5rem;
          font-weight: 700;

        }

      }
    }
  }

  .navbar-bottom-root {
    width: 100%;
    height: 60%;
    @include flex-center;

    .navbar-bottom-main-root {
      height: 95%;
      width: 85%;
      background-color: #ffc000;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      border-radius: 47.5px;
      @include flex-center;
      flex-direction: row;

      .navbar-menu-wrapper {
        height: 70%;
        width: 80%;
        @include flex;
        flex-direction: row;
        padding: 0 6rem 0 4rem;
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;

        .navbar-menu-item {
          height: 100%;
          width: 15%;
          font-weight: 700;
          @include flex-vertical-center;
          text-decoration: none;

          &:hover {
            color: white;
          }

          .item-wrapper {
            color: black;
            text-decoration: none;

            &:hover {
              color: white;
              text-decoration: none;
            }
          }
        }
      }

      .navbar-call-wrapper {
        height: 100%;
        width: 20%;
        background-color: black;
        border-radius: 0 4.75rem 4.75rem 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        .call-icon-wrapper {
          height: 80%;
          width: 26%;
          border-radius: 100%;
          transform: translateX(-3rem);
          background-color: black;
          @include flex-center;
        }

        .call-number-wrapper {
          height: 100%;
          width: 55%;

          .call-number-inner-wrapper {
            height: 50%;
            width: 100%;
            line-height: 1em;
            color: #ffc000;
            font-size: 18px;
            font-weight: 600;
            display: flex;
            align-items: flex-end;
          }

          .call-name-inner-wrapper {
            height: 50%;
            width: 100%;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 700;
          }
        }
      }
    }
  }
}