@import 'app/styling/main.scss';

.contact-page {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;

  .contact-navbar {
    height: 22%;
    width: 100%;
    background-color: #252525;
  }

  .contact-body-content {
    height: 275%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-header-wrapper {
      height: 9%;
      width: 100%;
    }

    .contact-map-wrapper {
      height: 30%;
      width: 100%;
    }

    .contact-message-wrapper {
      height: 30%;
      width: 100%;
    }

    .contact-footer-wrapper {
      height: 31%;
      width: 100%;
    }
  }
}