@import 'app/styling/main.scss';

.about-info-root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-info-inner-root {
    height: 90%;
    width: 75%;
    border: 1px solid;
    display: flex;
    flex-direction: column;

    .about-info-main-title {
      height: 8%;
      width: 100%;
      border: 1px solid;
      color: #717171;
      font-weight: 600;
      font-size: 17px;
      display: flex;
      justify-content: center;
    }

    .about-info-body-wrapper {
      height: 92%;
      width: 100%;
      border: 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .about-info-body-left-wrapper {
        height: 92%;
        width: 50%;
        border: 1px solid;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .subtitle-wrapper {
          height: 20%;
          width: 100%;
          border: 1px solid;
          font-size: 45px;
          font-weight: 700;
          line-height: 4rem;
          display: flex;
          align-items: center;

        }

        .description-wrapper {
          height: 60%;
          width: 100%;
          border: 1px solid;
          font-size: 16px;
          line-height: 30px;
          color: #717171;
          padding-top: 5rem;
        }

        .button-wrapper {
          height: 12%;
          width: 50%;
          border: 1px solid;
        }
      }

      .about-info-body-right-wrapper {
        height: 85%;
        width: 48%;
        border: 1px solid;
        margin-top: 2rem
      }
    }
  }
}