@import 'app/styling/main.scss';

.home-page {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;

  .home-navbar {
    height: 22%;
    width: 100%;
    background-color: black;
  }

  .home-body-content {
    height: 1000%;
    width: 100%;

    .home-slider-section {
      height: 7%;
      width: 100%;

      .carousal-content-wrapper {
        width: 100%;
        height: 50%;
        background-color: blanchedalmond;
      }
    }

    .home-booking-section {
      height: 5%;
      width: 100%;
      background-color: #ffc61a;
    }

    .home-welcome-section {
      height: 10%;
      width: 100%;
    }

    .home-service-section {
      height: 7%;
      width: 100%;
      background-color: white;
    }

    .home-fun-facts-section {
      height: 8%;
      width: 100%;
      background-color: white;
    }

    .home-call-section {
      height: 4%;
      width: 100%;
      background-color: white;
    }

    .home-package-section {
      height: 10%;
      width: 100%;
    }

    .home-benefits-section {
      height: 9%;
      width: 100%;
    }

    .home-driver-section {
      height: 9%;
      width: 100%;
    }

    .home-taxi-rate-section {
      height: 10%;
      width: 100%;
      background-color: lightcoral;
    }

    .home-news-and-update-section {
      height: 7%;
      width: 100%;
      background-color: lightcoral;
    }

    .home-advertisement-section {
      height: 5%;
      width: 100%;
      background-color: lightslategray;
    }

    .home-footer-section {
      height: 9%;
      width: 100%;
      background-color: lightslategray;
      border: 1px solid;
    }
  }

  // height: 1000px;
  // background-color: lightgreen;
  // .main-div {
  //   height: 1500px;
  //   width: 100%;
  // }
}

// .boxes {
//   margin: 20px;
//   margin-top: 150px;
//   background-color: sandybrown;
//   overflow: hidden;
//   height: 200px;
//   max-height: 35vh;
//   box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
// }

// .grids {
//   max-width: 50%;
//   margin: auto;
// }