/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 50.4rem;
  line-height: 50.5rem;
  background: black;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}