.home-service-card-root {
  height: 100%;
  width: 100%;
  flex-direction: column;

  .image-container {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-wrapper {
      height: 64%;
      width: 29%;
    }

  }

  .title-container {
    height: 20%;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

  }

  .description-container {
    height: 40%;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;

  }
}