.call-button-root {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #ffff;
  border-radius: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  transition: all .4s ease;

  &:hover {
    background-color: #ffff;
    color: black;
  }
}