@import 'app/styling/main.scss';

.about-page {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;

  .about-navbar {
    height: 22%;
    width: 100%;
    background-color: #252525;
  }

  .about-body-content {
    height: 550%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-header-wrapper {
      height: 5%;
      width: 100%;
    }

    .about-info-wrapper {
      height: 19%;
      width: 100%;
    }

    .about-benefits-wrapper {
      height: 17%;
      width: 100%;
    }

    .about-history-wrapper {
      height: 17%;
      width: 100%;
    }

    .about-offer-wrapper {
      height: 18%;
      width: 100%;
    }

    .about-add-wrapper {
      height: 9%;
      width: 100%;
    }

    .about-footer-wrapper {
      height: 15%;
      width: 100%;
    }
  }
}