$font-size: 62.5%;
$border-radius-xm: 0.5rem;
$border-radius-sm: 1rem;
$border-radius-regular: 2rem;
$border-radius-large: 4rem;
$border-radius-xl: 10rem;
$content-container-width: 80vw;
$content-container-height: 80vh;

// PADDINGS
$panel-padding: 2rem;

// SECONDARY COLORS
$white: #FFFFFF;
$white-2: #FCFCFC;
$white-3: #FBFBFB;
$black:#280923;
$orange: #FA8256;
$yellow: #E4DC1B;
$green:#4DDB9F;
$gray: #999999;
$gray-2: #D4D4D4;
$gray-3: #F9FAFC;
$gray-4: #E3E3E3;
$gray-5: #F7F7F7;
$gray-6: #E6E5F1;

$gray-7: #262828;
$gray-8: #292A2A;
$gray-9: #474848;
$gray-10: #747474;
$gray-11: #3C3D3A;
$gray-12: #292a2a;
$gray-13: rgba(47, 47, 47, 0.31);

$gray-14: rgba(64, 62, 62, 1);

$transparent: transparent;