@import "app/styling/main.scss";

.home-news-root {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  @include flex-center;

  .home-inner-root {
    width: 75%;
    height: 95%;
    @include flex-center;
    flex-direction: column;

    .news-main-title-wrapper {
      height: 10%;
      width: 100%;
      color: #717171;
      font-weight: 600;
      font-size: 16px;
      @include flex-center;
    }

    .news-sub-title-wrapper {
      height: 15%;
      width: 100%;
      font-size: 60px;
      letter-spacing: -.04em;
      font-weight: 700;
      @include flex-center;
    }

    .news-body-wrapper {
      height: 75%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .news-card-root {
        height: 95%;
        width: 32%;
      }
    }

  }
}