@import 'app/styling/main.scss';

.blog-card-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;

  .blog-card-image-wrapper {
    height: 60%;
    width: 100%;
  }

  .blog-card-middle-wrapper {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid;

    .blog-date-wrapper {
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;

      .blog-date-inner-wrapper {
        height: 70%;
        width: 98%;
        border-radius: 2rem;
        font-size: 12px;
        font-weight: 600;
        @include flex-center;
        background-color: #ffc000;
      }
    }

    .blog-uploaded-by-wrapper {
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      color: #717171;
      border: 1px solid;
    }

    .blog-comment-wrapper {
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      color: #717171;
    }
  }

  .blog-card-title-wrapper {
    height: 10%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: 1px solid;
  }

  .blog-card-desc-wrapper {
    height: 20%;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
  }
}