@import 'app/styling/main.scss';

.blog-card-root {
  height: 100%;
  width: 100%;
  border: 1px solid;
  background-color: lightblue;
  display: flex;
  flex-direction: column;

  .blog-card-image-wrapper {
    height: 50%;
    width: 100%;
    border: 1px solid;
  }

  .blog-card-middle-wrapper {
    height: 10%;
    width: 100%;
    border: 1px solid;
  }

  .blog-card-title-wrapper {
    height: 10%;
    width: 100%;
    border: 1px solid;
  }

  .blog-card-desc-wrapper {
    height: 30%;
    width: 100%;
    border: 1px solid;
  }
}